# Redirect HTTP to HTTPS
server {
    listen 80;
    server_name ${API_SERVER_NAME} ${FE_ADMIN_SERVER_NAME} ${FE_VHLA_SERVER_NAME} ${FE_SIGN_SERVER_NAME} ${INFO_FE_SERVER_NAME} ${INFO_BE_SERVER_NAME};

    return 301 https://$host$request_uri;
}

# DNS: ${API_SERVER_NAME}
server {
    listen 443 ssl http2;
    server_name ${API_SERVER_NAME};

    include /etc/nginx/conf.d/ssl-common.conf;

    resolver 127.0.0.11 valid=3s ipv6=off;
    set $beapi http://iwms-be-api;

    location / {
            proxy_pass $beapi;

            # WebSocket support
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";

            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
}

# DNS: ${FE_ADMIN_SERVER_NAME}
server {
    listen 443 ssl http2;
    server_name ${FE_ADMIN_SERVER_NAME};

    include /etc/nginx/conf.d/ssl-common.conf;

    resolver 127.0.0.11 valid=3s ipv6=off;
    set $feadmin http://iwms-fe-admin;

    location / {
            proxy_pass $feadmin;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
}

# DNS: ${FE_VHLA_SERVER_NAME}
server {
    listen 443 ssl http2;
    server_name ${FE_VHLA_SERVER_NAME};

    include /etc/nginx/conf.d/ssl-common.conf;

    resolver 127.0.0.11 valid=3s ipv6=off;
    set $fevhla http://iwms-fe-vhla;

    location / {
            proxy_pass $fevhla;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
}

# DNS: ${FE_SIGN_SERVER_NAME}
server {
    listen 443 ssl http2;
    server_name ${FE_SIGN_SERVER_NAME};

    include /etc/nginx/conf.d/ssl-common.conf;

    resolver 127.0.0.11 valid=3s ipv6=off;
    set $fesign http://iwms-fe-sign;

    location / {
        proxy_pass $fesign;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

# DNS: ${INFO_FE_SERVER_NAME}
server {
    listen 443 ssl http2;
    server_name ${INFO_FE_SERVER_NAME};

    include /etc/nginx/conf.d/ssl-common.conf;

    resolver 127.0.0.11 valid=3s ipv6=off;
    set $feinfo http://info-fe;

    location / {
            proxy_pass $feinfo;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
}

# DNS: ${INFO_BE_SERVER_NAME}
server {
    listen 443 ssl http2;
    server_name ${INFO_BE_SERVER_NAME};

    include /etc/nginx/conf.d/ssl-common.conf;

    resolver 127.0.0.11 valid=3s ipv6=off;
    set $beinfo http://info-be;

    location / {
            proxy_pass $beinfo;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
}